<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include nav.html %}

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include footer.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

   <script src="{{ site.baseurl }}/_js/ExSearch/jquery.min.js"></script>
   <script src="{{ site.baseurl }}/_js/ExSearch/ExSearch-6e577ac4e0.js"></script>  

</body>
</html>